/* COR 1: 00ffa2 */
/* COR 2: 1dcdbe */
/* COR 3: 00c573 */

@font-face {
    font-family: 'inter';
    src: url('../fontes/Inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #f3f5fc;
    font-family: 'Inter';
}

.centralizado {
    width: 90%;
    margin: 0 auto;
}

.logo {
    width: 12vw;
    margin-top: 5vh;
}

.container {
    display: flex;
    flex-direction: column;
}

/* EMISSOR */

.entrada, .entrada::placeholder {
    resize: none;
    background: none;
    border: none;
    outline: none;
    height: 50vw;
    width: 100%;
    font-size: 25px;
    margin-top: 5vh;
}

.aviso {
    margin: 5vh 0 0 0;
    display: flex;
    flex-direction: row;
}

.aviso p {
    margin: 0 0 0 10px;
    color: red;
}

.botoesCriptoDescripto {
    margin: 2vh 0 0 0;
}

.botaoCripto, .botaoDescripto {
    margin: 0 0 2vh 0;
    background: #00c573;
    border-radius: 15px;
    padding: 2vh;
    width: 100%;
    color: #f3f5fc;
    border: none;
}

.botaoDescripto {
    border: 1px solid #00c573;
    background: none;
    color: #00c573;
}

/* RECEPTOR */

.receptor {
    background: #ffffff;
    border-radius: 15px;
    margin: 5vh 0 0 0;
    box-shadow: 0 2px 32px -8px #0000003f;
}

.imagemNe {
    display: none;
}

.textoNaoEncontrado {
    padding: 4vh 6vw;
    text-align: center;
}

.tituloNe {
    font-size: 3vh;
    font-weight: 700;
}

.mensagemNe {
    margin-top: 2vh;
}

.textoEncontrado {
    padding: 4vh 6vw;
    font-size: 25px;
    word-break: break-word;
}

.saida {
    resize: vertical;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 25px;
    line-height: 25px;
    height: 10vh;
}

.copia {
    margin: 2vh 0 0 0;
    background: #f3f5fc;
    border-radius: 15px;
    padding: 2vh;
    width: 100%;
    color: #00c573;
    border: 1px solid #00c573;
    transition: 1000ms;
}

.copia:hover {
    background: #00c573;
    color: #f3f5fc;
}

/* FOOTER */

footer {
    margin: 2vh 0 0 0;
    display: flex;
    align-items: center;
    color: #f3f5fc;
    background: #000000;
    font-size: 10px;
    justify-content:space-between;
    padding: 10px;  
}

.challenge {
    color: #00c573;
    font-size: 8px;
}

.botoesFooter {
    font-size: 15px;
}

a {
    margin-right: 5px;
}

/* CLASSE PARA MUDAR IMAGEM DE ACORDO COM TAMANHO DO DISPOSITIVO */

.hidden {
    display: none;
}